<h1>my name data</h1>

<%= nameData[0].name%>

<a href="/insert">insert hard code value</a>

<form method="POST" action="/insert/<%= nameData[0].id%>">
    <%= nameData[0].name%>
    <p>action=delete/<%= nameData[0].id%></p>
    <input type="submit" value="delete first song">
</form>

<form method="POST" action="/delete/:id">
    <input name="myName">
    <input type="submit" value="save my name">
</form>